@media (max-width:1400px) {
  .slider
  {
    width: 1200px;
  } 
}
@media (max-width:1200px) {
  .slider
  {
    max-width: 1000px;
  } 
}
@media (max-width:1000px) {
  .slider
  {
    max-width: 800px;
  } 
}
@media (max-width:800px) {
  .slider
  {
    max-width: 600px;
  } 
}
@media (max-width:600px) {
  .slider
  {
    max-width: 400px;
  } 
}
@media (max-width:400px) {
  .slider
  {
    max-width: 200px;
  } 
}
